.sides{
    padding: 5.6vw;

    h2{
        text-align: center;
    }

    &__list{
        display: flex;
        justify-content: space-around;

        @media (max-width: 768px){
            display: block;
        }

        .button{
            margin-top: 24px;
        }

        &__item{
            text-align: center;
            padding: 60px 44px 44px;

            strong{
                margin-top: 24px;
                display: block;
            }

            img{
                max-width: 300px;
                width: 100%;
                max-height: 460px;
                height: 100%;
                
            }

            
        }
    }
    p{
        text-align: center;
    }
}